# Python Directories
**/*__pycache__
**/*.egg-info

# Python virtual environment
**/*venv

# IntelliJ Directories
**/*.idea

# CMake Files
**/*CMakeLists.txt

# Build outputs
**/*.exe
**/*.a
**/*.dylib
**/*.so
**/*.tar.gz

# Build dirs
**/*dist
**/*build
**/*cmake-build-debug

# MAC
**/*.DS_Store

# XCode
**/*xcuserdata

# Environment files
.env